= render "shared/destacado", :post => "servicios"
- @id = "servicios"

%section#servicios
  %h2 Servicios
  - if @services.length > 0 then
    %article.servicios
      - @services.each do |service|
        %div.servicio-item.text
          %img{:src => "#{service.image.url}", :alt => "#{service.title}"}
          %h3
            = service.title
          %p
            = raw(service.description)
  - else
    %p.noarticles
      Todavía no hay servicios disponibles