@import "compass/css3"
@import "commons/vars"

body
  background: url('/assets/bg.png')
  padding: 0

#wrapper
  background-color: #FFF
  width: 1000px
  padding: 0 100px 100px
  margin: 0 auto
  position: relative
  overflow: hidden
  +box-shadow(0 0 5px #AAA)

.destacado
  float: left
  width: 1000px
  height: 291px
  margin: 30px 0 30px

  img
    +border-radius(10px)