@import "compass/css3"
@import "commons/vars"

footer
  width: 1100px
  padding: 20px 50px
  margin: 0 auto 50px
  text-align: right
  background-color: #FAFAFA
  +border-radius(0 0 10px 10px)

  p
    font: $bodyFont
    font-size: 13px