@import "compass/css3"
@import "commons/vars"

header
  float: left
  width: 468px
  height: 43px
  margin-top: 40px
  margin-bottom: 4px

  h1
    background: url('/assets/title.png') no-repeat
    width: 468px
    height: 39px
    margin: 0 0 0 10px

h2
  font: $bigHeaderFont
  color: #ff554e
  letter-spacing: 0
  margin: 20px 0
  clear: both

.text
  font: $bodyFont
  line-height: 21px