@import "compass/css3"
@import "commons/vars"

nav
  float: right
  width: 532px
  margin-top: 10px
  height: 77px

  .menu
    position: relative
    overflow: hidden
    height: 77px

    li
      float: left
      list-style-type: none
      margin-right: 5px

      a
        display: block
        padding: 47px 10px 10px 10px
        font-family: 'Open Sans'
        font-size: 13px
        letter-spacing: 0
        font-weight: bold
        color: #3dbffd
        text-transform: uppercase
        text-decoration: none
        +border-radius(10px 10px 2px 2px)
        background-position: center 12px
        +transition(all .2s ease-out)

        &:hover, &:focus
          background: url('/assets/nav.hover.png') center 15px no-repeat
          background-color: rgba(101, 206, 253, 0.1)
          border-bottom: 3px solid #FC554E
          outline: none
          +transition(all .2s ease-out)

        &.active
          border-bottom: 3px solid #FC554E
          outline: none