= render "shared/destacado", :post => "articulos"
- @id = "articulos"

%section#articulos.articulos-list
  %h2 Listado de Artículos
  - if @articles.length > 0
    - @articles.each do |article|
      %a.articulo{:href => "/articulo/#{article.id}"}
        %h3 
          = article.title
        %div.content
          = raw(article.description)
  - else
    %p.noarticles
      Todavía no hay artículos disponibles