%nav
  %ul.menu{ :id => @id }
    %li
      - if @id == "inicio" then
        %a.active{:href => "/"} inicio
      - else
        %a{:href => "/"} inicio
    %li
      - if @id == "servicios" then
        %a.active{:href => "/servicios"} servicios
      - else
        %a{:href => "/servicios"} servicios
    %li
      - if @id == "productos" then
        %a.active{:href => "/productos"} productos
      - else
        %a{:href => "/productos"} productos
    %li
      - if @id == "articulos" then
        %a.active{:href => "/articulos"} artículos
      - else
        %a{:href => "/articulos"} artículos
    %li
      - if @id == "galeria" then
        %a.active{:href => "/galeria"} galería
      - else
        %a{:href => "/galeria"} galería
    %li
      - if @id == "contacta" then
        %a.active{:href => "/contacta"} contacta
      - else
        %a{:href => "/contacta"} contacta