= render "shared/mapa"
- @id = "contacta"

%section#contacta
  %h2
    = @contact.title
    
  = form_tag("/consulta.json", :method => "post", :id => 'consulta') do
    %p
      = label_tag(:nombre, "Nombre")
      = text_field_tag :nombre, nil, :placeholder => 'Juan Lopez'
      %span.error#error-nombre
    %p
      = label_tag(:mail, "E-mail")
      = email_field_tag(:mail, nil, :placeholder => 'correo@electroni.co')
      %span.error#error-mail
    %p
      = label_tag(:texto, "Consulta")
      = text_area_tag(:texto, nil, :placeholder => 'Escribenos aquí tu consulta')
      %span#error-texto
      = submit_tag("Enviar consulta")
    %div#notice
      Revisa los campos en rojo.

  %article.text.contacta
    = raw(@contact.description)