= render "shared/destacado", :post => "home"
- @id = "inicio"

%section#home
	%h2
		= @homes.title

	%article.home
		%div.text
			= raw(@homes.description)
			%aside
				%p
					%em Daniel Saiz
		= image_tag(@homes.image, :alt => 'Fachada')