// Place all the styles related to the Articulos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "commons/vars"

.articulos-list
  float: left

  h2
    border-bottom: 1px solid #ddd
    margin-bottom: 0
    padding-bottom: 40px

  .articulo
    width: 760px
    //margin-top: 30px
    text-decoration: none
    display: block
    padding: 20px 10px 20px 14px
    border-bottom: 1px solid #ddd

    &:hover, &:focus
      background: #fafafa
      border-left: 4px solid #ddd
      padding-left: 10px
      cursor: pointer
      color: #000
      outline: none

    h3
      font: $bodyFont
      color: #333
      font-size: 17px 
      font-weight: bold 
      margin-bottom: 10px
      text-transform: uppercase
      letter-spacing: 0
      margin-top: 15px

    div.content
      overflow: hidden
      font: $bodyFont
      height: 62px
      color: #333
      margin-top: 10px
      

#articulo-detail
  float: left
  width: 750px

  h2 
    margin: 50px 0 30px

  h3
    font: $bodyFont
    color: #333
    font-size: 17px 
    font-weight: bold 
    margin-bottom: 10px
    text-transform: uppercase
    letter-spacing: 0
    margin-top: 15px
  
  p 
    font: $bodyFont
    color: #333
    margin-top: 10px
  
.noarticles
  font: $bodyFont
  font-size: 16px
  margin-top: 20px
  margin-left: 4px