// Place all the styles related to the contacta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3"
@import "commons/vars.css.sass"
  
iframe#mapa
  opacity: .8
  float: left
  width: 1000px
  height: 350px
  margin: 30px 0 30px
  +border-radius(10px)

#contacta
  float: left  

  h2
    margin-left: 10px
 

  .text
    width: 500px
    float: left
    margin-left: 10px
 

  form
    position: relative
    overflow: hidden
    float: left
    background-color: #FAFAFA
    width: 400px
    font: $bodyFont
    padding: 20px
    margin-top: -10px
    margin-right: 50px
    +border-radius(10px)
      
    p
      margin-bottom: 10px 
    
      label
        display: block    
        float: left
        margin-right: 10px
        padding-top: 4px
        width: 120px
        +border-radius(5px 0 0 5px)
     
    
      input[type="text"], input[type="email"]
        border: 1px solid #CECECE
        padding: 4px 8px
        width: 250px
        +border-radius(5px)
     
    
      textarea
        resize: none
        border: 1px solid #CECECE
        padding: 4px 8px
        width: 250px
        height: 200px
        +border-radius(5px)
     
      
      span.error
        display: block
        position: absolute
        background: $headerColor
        color: #FFF
        +border-radius(0 5px 5px 0)
        padding: 8px 8px
        font-size: 10px
        margin-top: -30px
        right: 22px
        opacity: 0
        +transition(opacity, .5s, ease-out)
          
        &#error-texto
          margin-top: -214px
          +border-radius(0 5px 0 0)

        &.visible
          opacity: 1
          +transition(opacity, .5s, ease-out)
    
    input[type="submit"]
      border: 0
      background-color: #AEAEAE
      color: #FFF
      font-weight: bold
      padding: 6px 14px 7px
      float: right
      margin-right: 2px
      +border-radius(5px)
      
      &:hover
        background-color: $anchorColor
        cursor: pointer
      
      &:active
        background-color: $activeColor
        cursor: pointer
      
      &:disabled
        cursor: default
        background-color: #8A8A8A

      &.ok:disabled
        background-color: #41C04C !important
        &:hover
          background-color: #41C04C
    
    #notice
      display: none
      float: left
      width: 180px
      padding: 8px 20px
      background-color: $headerColor
      font-size: 12px
      color: #FFF
      +border-radius(5px)
      
      &:after
        border-bottom: 10px solid transparent
        border-left: 10px solid $headerColor
        border-top: 10px solid transparent
        content: " "
        display: block
        height: 1px
        left: 236px
        margin-top: -11px
        top: 341px
        width: 0
        position: absolute