// Place all the styles related to the imagen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "commons/vars"

#imagenes
  margin-top: 30px
  float: left
  width: 1000px
  
  .imagenes
    margin: 20px 0
    position: relative
    overflow: hidden

    a
      text-decoration: none
      padding: 5px
      width: 225px
      height: 160px
      border: 1px solid #CCC
      margin: 5px
      display: block
      float: left

      &:hover, &:focus
        border: 3px solid $anchorColor
        padding: 3px
        outline: none

.noimages
  font: $bodyFont
  font-size: 16px
  margin-top: 20px
  margin-left: 3px