// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "commons/vars"

#home
  float: left
  
  .home
    position: relative
    overflow: hidden
    float: left
    width: 1000px
  
    .text
      width: 500px
      padding-left: 3px
      float: left

      p
        font: $bodyFont
        line-height: 21px
        margin-bottom: 20px
    
      em
        font-style: italic

      aside
        text-align: right
  
    img
      width: 443px
      height: 323px
      padding: 5px
      margin-left: 40px
      border: 1px solid #dedede
      float: right