// Place all the styles related to the producto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3"
@import "commons/vars"

#productos
	position: relative
	overflow: hidden
	width: 1000px

aside
	width: 250px
	float: right

	h3
		font: $middleHeaderFont
		text-align: right
		padding: 20px 10px 0px
	

.products
	width: 700px
	float: left

.product-details
	font: $bodyFont
	position: relative
	overflow: hidden
	border-bottom: 1px solid #e0e0e0
	padding: 20px 0
	font-size: 13px

	h3
		font: $middleHeaderFont
		margin-bottom: 10px


	div, p
		width: 550px
		float: left


	.price
		font-size: 18px
		float: right
		margin-top: 20px
		text-align: right
		width: 90px
		position: absolute
		top: 0
		right: 0


		span
			font-weight: bold

	.thumb-product
		display: block
		width: 90px
		height: 90px
		float: right
		margin-top: 13px
		border-bottom: 3px solid #e0e0e0
		+transition(all, .1s, ease-in-out)


.categories
	margin: 10px 0
	background: #F3F3F3
	padding: 10px 0
	border: 1px solid #e0e0e0
	+border-radius(10px 0 10px 10px)

	a
		display: block
		text-decoration: none
		padding: 8px 10px 8px 15px
		font: $bodyFont
		color: #333

		&:hover
			background: #e0e0e0
			color: #000
	

		&.categoria
			text-transform: uppercase
			font-size: 13px
			padding: 8px 10px 8px 10px
			font-weight: bold
	
		&.subcategoria
			font-size: 13px
			margin: 0 10px
	
		&.subsubcategoria
			font-size: 13px
			margin: 0 25px
	

.noproducts
	font: $bodyFont
	font-size: 16px
	margin-top: 20px