// Place all the styles related to the servicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3"
@import "commons/vars"

#servicios
  float: left
  
  .servicio-item:nth-child(n)
    position: relative
    overflow: hidden
    margin-bottom: 30px
    width: 250px
    float: left
  
    img
      width: 228px
      height: 138px
      margin: 1px 0 10px 1px
      float: left
      +border-radius(2px)
      +transition(.2s opacity)
      display: block
      opacity: .8
    
    h3
      font: $middleHeaderFont
      display: block
      float: left
      width: 228px
      text-transform: uppercase
      color: $anchorColor
      letter-spacing: 0
      margin: 10px 10px 5px 2px    
  
    p
      font: $bodyFont
      float: left
      width: 220px
      margin: 0px 30px 5px 2px

    &:hover
      img
        opacity: 1
        +transition(.4s opacity)