= semantic_form_for [:admin, @category] do |f|
  = f.inputs do
    = f.input :title
    %li{:class => "string input stringish"}
      = f.label :category
      - @categories = Category.all
      %select#category_parent_id{:name => "category[parent_id]"}
        %option{ :value => "" }
          Es una categoría principal
        - @categories.each do |category|
          - if category.parent_id == nil then
            %option{ :value => category.id }
              = category.title
              - category.get_categories
              - if not category['subcategories'] then
                - @categories.each do |subcategory|
                  - if subcategory.parent_id == category.id
                    %li
                      %a.subcategoria{:href => "/categoria/#{subcategory.id}"}
                        %option{ :value => category.id }
                          ="- #{subcategory.title}"
                      - category.get_categories
                      - if not category['subcategories'] then
                        - @categories.each do |subsubcategory|
                          - if subsubcategory.parent_id == subcategory.id
                            %option{ :value => category.id }
                              ="-- #{subsubcategory.title}"
    = f.input :description
  = f.actions do
    = f.action :submit 
    %li.cancel
      = link_to "Cancel", @category