= semantic_form_for [:admin, @product] do |f|
  = f.inputs "A&ntilde;ade un producto" do
    = f.input :title
    %li{:class => "string input stringish"}
      = f.label :category
      - @categories = Category.all
      %select#product_category_id{:name => "product[category_id]"}
        - @categories.each do |category|
          - if category.parent_id == nil then
            %option{ :value => category.id }
              = category.title
              - category.get_categories
              - if not category['subcategories'] then
                - @categories.each do |subcategory|
                  - if subcategory.parent_id == category.id
                    %li
                      %a.subcategoria{:href => "/categoria/#{subcategory.id}"}
                        %option{ :value => category.id }
                          ="- #{subcategory.title}"
                      - category.get_categories
                      - if not category['subcategories'] then
                        - @categories.each do |subsubcategory|
                          - if subsubcategory.parent_id == subcategory.id
                            %option{ :value => category.id }
                              ="-- #{subsubcategory.title}"
    = f.input :description, as: :wysihtml5, blocks: [ :h3, :p, :strong]
    = f.input :image, as: :file
    = f.input :price
  = f.actions do
    = f.action :submit 
    %li.cancel
      = link_to "Cancel", @category