- @categories = Category.all
%aside 
  %h3 Categorías
  %ul.categories
    - @categories.each do |category|
      - if category.parent_id == nil then
        %li 
          %a.categoria{:href => "/categoria/#{category.id}"}
            = category.title
          - category.get_categories
          - if not category['subcategories'] then
            %ul
              - @categories.each do |subcategory|
                - if subcategory.parent_id == category.id
                  %li
                    %a.subcategoria{:href => "/categoria/#{subcategory.id}"}
                      =subcategory.title
                    - category.get_categories
                    - if not category['subcategories'] then
                      %ul
                        - @categories.each do |subsubcategory|
                          - if subsubcategory.parent_id == subcategory.id
                            %li
                              %a.subsubcategoria{:href => "/categoria/#{subsubcategory.id}"}
                                =subsubcategory.title