= render "shared/destacado", :post => "productos"
- @id = "productos"

%section#productos
	%h2 Productos
	%section.products
		- if @products.length != 0
			- @products.each do |producto|
				%article.product-details
					%h3
						= producto.title
					%img.thumb-product{:src => "#{producto.image.thumb.url}", :alt=>"#{producto.title}"}
					%p
						= raw(producto.description)
					- if producto.price != '' then
						%p.price 
							PVP
							%span
								#{producto.price}€
		- else
			%p.noproducts
				De momento no tenemos productos de esta categoría.
	= render "categories/list"