- @id = "galeria"

%section#imagenes
  %h2 Galería de imágenes

  - if @images.length > 0 then
    %article.imagenes
      - @images.each do |image|
        %a{:href => "#{image.image.url}", :rel => "lightbox[galeria]", :title => "#{image.title}" }
          %img{:src => "#{image.image.thumb.url}", :alt  => "#{image.title}"}
  - else
    %p.noimages
      No hemos subido ninguna imágen todavía.
