!!!
%html
  %head
    %title
      = "#{@id.capitalize} | zafra clínica veterinaria"

    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:100italic,600italic,700italic,100,300,400,700,600', :rel=>'stylesheet', :type=>'text/css'}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    <meta name="title" content="<%= raw(@meta_title) %>">
    <meta name="keywords" content="<%= raw(@meta_keywords) %>" />
    <meta name="description" content="<%= raw(@meta_description) %>" />
  %body
    %div#wrapper
      %header
        %h1
          %span.hide zafra clínica veterinaria
      = render "shared/menu"
      = yield
    = render "shared/footer"

  
  